#cuestionario{
    background-color: cornsilk;
    border:2px solid cornsilk;
    width: max-content;
}

.h1{
    color:brown;
}

.h2{
    color:cadetblue;
}

.subcuestionario{
    padding-top: 15px;
    padding-bottom: 15px;
}

.intereses{
    padding-top: 15px;
    padding-bottom: 15px;  
}

.caja3{
    padding-top: 15px;
    padding-bottom: 15px;
}