.container{
    background-color:lightgrey;
}
h1{
    color:brown;
}

h3{
    color:blue;
}

#subcuestionario{
    padding-top: 15px;
    padding-bottom: 15px;
}

#intereses{
    padding-top: 15px;
    padding-bottom: 15px;  
}

#caja3{
    padding-top: 15px;
    padding-bottom: 15px;
}